@font-face{
	font-family:"mywebfont";
	src: url('mywebfont.woff2') format('woff2');
}

p{
	font-family: mywebfont, san-serif;
}

h1 {font-family: "Degular", Degular, serif;
font-weight: 400;
color: blue;
font-style: normal;

}



