/*<h1> style="font-family:degular;" This is a heading</h1>*/

h1 {
	 font-family: courier-std, monospace;
font-weight: 700;
font-style: normal;
	font-size:100px;
	color: #08344F; 
	text-align: center;
}

h3 {
	 font-family: 'Atkinson Hyperlegible', sans-serif; 
	 font-size:64px;

}

p {
	 font-family: 'Atkinson Hyperlegible', sans-serif;
	 font-size: 20px;

}

p1 {
	 font-family: 'Atkinson Hyperlegible', sans-serif;
	 font-size: 20px; 


body {
  color: #08344F;
}

.right {
	text-align: right;
/*  position: absolute;
  right: 0px;*/
  width: 300px;
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  float: right;
}

.flex-container > div {
  margin: 5 px;
  padding: 20px;
}
