/*<h1> style="font-family:degular;" This is a heading</h1>*/

h1 {
	 font-family: 'Atkinson Hyperlegible', sans-serif;

}

h3 {
	 font-family: 'Atkinson Hyperlegible', sans-serif;

}

body {
  color: #08344F;
}

h1 {
  color: #08344F;
}
