/*<h1> style="font-family:degular;" This is a heading</h1>*/
a {
  color: #08344F;
}
a:hover {
  color: hotpink;
}


body {
background-color: #F9F6E9;
  color: #08344F; 
  margin: 60px;
}

h1 {
	 font-family: 'Atkinson Hyperlegible', monospace;
font-weight: 700;
font-style: normal;
	font-size:100px;
	color: #08344F; 
	text-align: center;
}

h3 {
	 font-family: 'Atkinson Hyperlegible', sans-serif; 
	 font-size:64px;
	 color: #08344F;
	 width: 500px;
}



p {
	 font-family: 'Atkinson Hyperlegible', sans-serif;
	 font-size: 20px;width: 700px; color: #08344F;


right {
	text-align: right;
/*  position: absolute;
  right: 0px;*/
  width: 300px;
  padding: 10px;
}

/*.flex-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.flex-container > div {
  margin: 5 px;
  padding: 20px;
}

.images {display: flex;
  flex-direction: column;
  align-content: flex-start;
}
*/

.sentence {
position: absolute;
width: 1120px;
height: 70px;
left: 138px;
top: 695px;

font-family: Atkinson Hyperlegible;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 29px;
/* or 112% */


color: #08344F;
}

.iterations { 
	width: 50%;}

	.BR {height: 30%, width=30%}
	.pg {height: 30%, width=30%}

.colophon {font-family:Atkinson Hyperlegible,serif;
	font-size: 16px;
	font-style:regular, 
	line height: 22px;}









