
@media screen and (min-width:550px) {
html {
  scroll-behavior: smooth;
}


.collateral {
/*	border: 1px solid black;*/
	display: flex;
	flex-direction: row;
	max-width: 700px;
	align-items: center;
	}

.collateralchild {
 	max-width: 300px;
height: auto;
	}
 
figcaption {
 	font-family: 'Atkinson Hyperlegible', sans-serif;
  	padding: 2px;
}

.container{
	text-align: center; 
}

.sub {
	font-size:72px;
}

.problem1 {
	font-size:60px;
}

.nav {
	word-wrap: break-word;
	vertical-align: baseline;
	display:flex;
	justify-content:space-between;
	flex-direction: row;
	align-items: baseline;
/*	border: 3px solid black;
*/}


.pls {
	vertical-align: baseline;
	flex-grow: 1;
	/*float:left;*/
	font-size:60px;
/*	border: 3px solid black;
*/}	


.navchild {
	vertical-align: baseline;
/*	float:right;*/
	font-size:60px;
	flex-grow: 1;
/*	border: 1px solid black;
*/
}



.D {
	flex-grow: 2;
	font-size:400px;
	font-family: 'Atkinson Hyperlegible', sans-serif;
  	font-weight: bold;
  	text-align: center;
  	vertical-align: baseline;
	text-align: center;
	float:center;
/*	border: 3px solid black;
*/	
}
  }

  .ES { 
  	flex-grow: 2;
/*  	letter-spacing:1em;*/
  	text-align: center;
  	font-size:250px;
	font-family: 'Atkinson Hyperlegible', sans-serif;
  	font-weight: bold; 
  	/*border: 3px solid black;*/
  }

 .IN {
 	flex-grow: 2;
/* 	letter-spacing:.7em;*/
 	font-size:200px;
	font-family: 'Atkinson Hyperlegible', sans-serif;
  	font-weight: bold; 
  	text-align: center;
  		/*border: 3px solid black;*/
  }


.ING {
	flex-grow: 2;
	font-size:150px;
	font-family: 'Atkinson Hyperlegible', sans-serif;
  	font-weight: bold;
  	letter-spacing:.5em;
  	align-self: center;
  }

.BR {
 display: block;
  margin-left: auto;
  margin-right: auto;
	max-width: 50%;


}

.images2{
	max-width: 50%;
	width: center;
	/*border: 1px solid black;*/
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
	align-self: center;
	text-align:center;
}


.hero {
	margin-top: 10px; 
	text-align:center;
	letter-spacing: 5em;
	line-height: 10em
}

.large{
	 font-family: 'Atkinson Hyperlegible', sans-serif;
	 font-style: normal;
	 font-size: 85px;
}

.regular{
	font-family: 'Helvetica', sans-serif;
	 font-size: 80px;
	}

.first {
	text-align: center;
	font-size:180px;
	font-family: 'Atkinson Hyperlegible', sans-serif;
  	font-weight: bold;
  	line-height: 1em;
   letter-spacing:3em;
  }


.atypeface {
	font-size:105px;
	font-family: 'Atkinson Hyperlegible', sans-serif;
  	font-weight: bold;
   	letter-spacing:.5em;
  }

  .forthe {font-size:100px;
	font-family: 'Atkinson Hyperlegible', sans-serif;
  	font-weight: bold;
   	letter-spacing:.5em;
  }



  .second {
	text-align: center;
	font-size: 105px;
	font-family: 'Atkinson Hyperlegible', sans-serif;
  	font-weight: bold;
  	line-height: 2em;
  	letter-spacing:0.1em;
  }

   .third {
	text-align: center;
	font-size: 80px;
	font-family: 'Atkinson Hyperlegible', sans-serif;
  	font-weight: bold;
  	line-height: 2em;
  	letter-spacing: 0.3em;

  }

  .fourth {
  	text-align: center;
	font-size: 60px;
	font-family: 'Atkinson Hyperlegible', sans-serif;
  	font-weight: bold;
  	line-height: 2em;
  	letter-spacing: 0.3em;
    text-decoration-line:underline;
 	text-decoration-color:;
   	text-decoration-style:thick;
}

.content{
	max-width: 700px;
	margin: auto;
}



.sentence {
	font-family: Atkinson Hyperlegible;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 29px;
}


a {
  color: #08344F;
}
a:hover {
  color: #CF3136;
}


body {
	background-color: #F9F6E9;
	color: #08344F; 
	 margin: 100px;
}

section{
/*	border: 3px solid black;
*/	margin-top: 30px;
}

h1 {
	 font-family: 'Atkinson Hyperlegible', monospace;
	font-weight: 700;
	font-style: normal;
	font-size:100px;
	color: #08344F; 
	text-align: center;
}

h3 {
	 font-family: 'Atkinson Hyperlegible', sans-serif; 
	 font-size:44px;
	 color: #08344F;
	 width: 500px;
	 line-height: 70px;
	 margin: 0;
}

h4{
	font-family: 'Atkinson Hyperlegible', sans-serif; 
	font-style: italic;
	 font-size:64px;
	 color: white;
	 line-height: 70px;
	  margin: 0;
	 text-align: center;
	 letter-spacing: .07em;
	 }

h5{
	font-family: 'Atkinson Hyperlegible', sans-serif; 
	font-style: italic;
	 font-size:64px;
	 color: white;
	 line-height: 80px;
	  margin: 0;
	 text-align: center;
	 letter-spacing: .07em
	 }

h6 {
	font-family: 'Atkinson Hyperlegible', sans-serif; 
	 font-size:64px;
	 font-style: bold;
	 color: white;
	 line-height: 80px;
	 margin: 0;
	 text-align: center;
	 letter-spacing: .07em;
	 }


.thick {
	font-family:'Atkinson Hyperlegible',serif;
  	font-weight: bold; 
}

p { 
	
	font-family: 'Atkinson Hyperlegible', sans-serif;
	 font-size: 20px;
	 color: #08344F;
	}


.rightside{
	background: #08344F;
	text-align: center;
	font-size: 200px;
	font-family: 'Atkinson Hyperlegible', sans-serif;
}


.blurtext{
	font-size:5vw;
	color: white;
	word-wrap: break-word;
	animation-name: example;
	 animation-duration: 10s;
	 animation-iteration-count: infinite;

} 

@keyframes example {
  0%   {filter: blur (8px);}
  25%  {filter: blur(5px)}
  50%  {filter: blur(3px)
  100% {filter: blur(0px)}
}

.testing-section{
	display:flex;
	max-width: 80%
}

.testing{
	flex: 2;

}

.images2{
	flex: 1;
	margin-top: 20px;
}






.colophon {font-family:'Atkinson Hyperlegible',serif;
	font-size: 16px;
	line-height: 22px;

}


}

@media screen and (max-width: 1000px){ 

.nav {
	display: none;
}

  .body{ width: 100vw;
  }

  .sub{font-size:50px;
  	font-weight: bold;
  }

  .section{width: 100%;
  }

  .collateral{
	flex-direction: column;
	max-width: 300px;


}

.collateralchild{
		max-width: 75vw;
}

.rightside{
	width:75vw;
	margin: 0%;
  }

 


  body{
  	margin:25px;
  }

  .D {
  	flex-grow: 2;
	font-size:100px;
	font-family: 'Atkinson Hyperlegible', sans-serif;
  	font-weight: bold;
  	text-align: center;
  	vertical-align: baseline;
	text-align: center;
	float:center;
  }

  .ES {
  	font-size: 100px;
  }

  .IN{ 
  font-size: 100px; 
  }

  .ING{ 
  font-size: 100px; 
  }

  .SECOND{ 
  font-size: 100px; 
  }

   .forthe{ 
  font-size: 100px; 
  }

.third{ 
  font-size: 100px; 
  }

  .forth{ 
  font-size: 100px; 
  }

  .navchild{font-size: 25px;
  }

  .pls{font-size: 25px;
  }

  .colleteralchild{
  	max-width: 100%;
  	min-width: 200px;
  	height: auto;
  }

 
  figcaption{
  	font-family: 'Atkinson Hyperlegible', sans-serif;
  }
}
	
/*

right {
	text-align: right;
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
}

*/



.flex-container {/*display:flex;
flex-direction: column;
justify-content: center;*/
text-align: left;}
/*.flex-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.flex-container > div {
  margin: 5 px;
  padding: 20px;
}

.images {display: flex;
  flex-direction: column;
  align-content: flex-start;
}
*/








 

