/* Style the tab */
@media screen and (min-width: 70rem) {
@font-face {
  font-family:"mywebfont";
  src: url('mywebfont.woff2') format('woff2');
}

section{
  top: 550px;
	display: flex;
	padding: 50px;

}

main{
	border: 1px solid #ccc;
	padding: 50px;
}

/**/


.tabcontent {
  top: 600px;
  max-height: 100vh;
  font-weight: 10;
  font-style: italic;
}



p { padding: left 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

h1 {font-size:100px;
  line-height: .9;
  font-weight: 500;
  margin: 10px;
}

h3{font-style: normal;}


body {
  background-color: #F5F5F5;
  font-family: "Degular", Degular, serif;
  padding: 50px;
}


.tab {
  overflow: scroll;
  font-family: "Degular", Degular, serif;
  font-weight: 600;
  /*border: 1px solid #ccc;*/
  background-color: #f1f1f1;
  width: 40%;
  height: 700px;
  flex: none;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-family: "Degular", Degular, serif;
  font-weight: 100;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
  font-family: "Degular", Degular, serif;
  font-weight: 700;
  font-size: 15;
}

.tablinks button {
	font-family: "Degular", Degular, serif;
  	font-weight: 300;
}

/* Style the tab content */

 

.drink-container {
    display: flex;
    flex-direction: column;
    color: black;
  }


.box {
  opacity: 30%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  transition: height 500ms linear;
  background: red;
  z-index: -1;
}

.intro {
 float: left;
  width: 20%;
 padding-left: 80px;
 padding: 10px;
  height: 300px;
  z-index:3;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
}

@media screen and (min-width: 10rem) {
  .left, .right {
    width: 100%; 
  }
/*
.hover-image {
    display: flex;
    min-width: 50%;
    transform: translate(-80%, -5%);
}*/

@font-face {
  font-family:"mywebfont";
  src: url('mywebfont.woff2') format('woff2');
}

section{
	display: flex;
	font-size: 18px;
}

main{
	border: 1px solid #ccc;
	padding: 20px;
  width: 60vw;
  font-size: 15px;
  z-index: 2;
}



.tabcontent {
  max-height: 100vh;
  display: none;
   font-style: italic;
  }


p { padding: left 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*h3 { text-decoration: underline;
}*/

.intro-container{
  z-index:5;
}
body {
  background-color: #F5F5F5;
  font-family: "Degular", Degular, serif;
  font-weight: 400;
  padding: 20px;
}
.drink-info {
  z-index: 3;
}

.box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 10px;
  transition: height 500ms linear;
  background: red;
  opacity: 50%;
  z-index:1;
  pointer-events: none;
}

.tab {
  overflow: scroll;
  font-family: "Degular", Degular, serif;
  font-weight: 600;
  /*border: 1px solid #ccc;*/
  background-color: #f1f1f1;
  width: 30%;
  height: 700px;
  flex: none;
  z-index:0;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-family: "Degular", Degular, serif;
  font-weight: 100;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
  font-family: "Degular", Degular, serif;
  font-weight: 700;
  font-size: 15;
}

.tablinks button {
	font-family: "Degular", Degular, serif;
  	font-weight: 300;
  }

/* Style the tab content */


img{  
    object-fit: contain;
    object-position: center;
    margin-left: 40px;
    width: 75%;
}
}

@media screen and (min-width: 50rem) {
img{  
    object-fit: contain;
    object-position: center;
    margin-left: 100px;
    width: 50%;
}
}
