
@font-face {
    font-family: "blinds";
    src: url("blinds.woff2") format("woff2");
    font-size: 60px;
}

body{ 
	background-image: url("static.gif");
  	background-repeat: repeat; 
   font-weight: 100;
   font-style: normal;
   font-family: blinds;
  text-transform: uppercase;
   font-size: 70px;
   line-height: 1;
   position: fixed;
   margin-left:50px;
  letter-spacing: 1rem;
  animation: back 25s linear infinite;
  font-variation-settings: "wght" 500;
}


#content{
 	font-size: 80px;
	font-family: blinds;
	text-transform: uppercase;
	letter-spacing: 2rem;
	font-variation-settings: "wght" 500;
	animation: width; 
	animation: sizechange 1.5s infinite alternate;
    transition: all 1s;
    }
* {
  font-family: "blinds";
  margin: 0;
}



h1 { 
  text-align: center; 
}


br {
  display: block;
  margin-bottom: 2px;
  font-size:2px;
  line-height: 2px;
}



#text{
  line-height: 1.25;
  text-align: center;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  scroll-behavior: smooth;
  overflow: scroll;
}

#text:hover { 
	font-size: .4em; color: red;
	letter-spacing:-.05px; 
 }
}




@keyframes back {
    from {
    background-size: 100% 100%;
  }
  to {
    background-size: 200% 200%;
  }
}

@keyframes sizechange{
  0% {
    font-variation-settings: 'wght' 100;
}

100% {
    font-variation-settings: 'wght' 400;
}
} 




.blinds, .blinds *{
   font-variation-settings: 'wght' var(--wght);
}

section{
   margin: 3rem 0;
}

svg {
  position: absolute;
  width: 0;
  height: 0;
  left: -9999px;
  pointer-events: none;
}



#intro{
   font-family: 'blinds';
   font-size:200px;
   line-height: 0.9;
   text-align: center;
}


#content p{
  /*   font-variation-settings: 'wght' var(--wght);*/
   transition: font-variation-settings 400ms ease-in-out;
}

#content1 {font-variation-settings: 'wght' var(--wght);
}


  


.range-name, .min, .max{
   width: 100px;
}
.min{
   text-align: right;
}

.range-name::after {
  content: ": ";
} 

input.axis-range{
   width: 580px;
   margin: 0 20px;
}

.darkmode{
  background: black;
  color: gray;
  position: fixed;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   border-radius: 12px;

}


.darkmode:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px;




.myaudio: {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     position: fixed;
}


